your bot/bin/Debug/MyBot.vshost.exe
your bot/bin/Debug/MyBot.vshost.exe.manifest
your bot/bin/Debug/YourBot.vshost.exe.manifest
your bot/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
your bot/obj/x86/Debug/MyBot.csproj.FileListAbsolute.txt
your bot/obj/x86/Debug/YourBot.csproj.FileListAbsolute.txt
your bot/bin/Debug/MyBot.exe
your bot/bin/Debug/MyBot.pdb
your bot/obj/x86/Debug/MyBot.exe
your bot/obj/x86/Debug/MyBot.pdb
your bot/obj/x86/Debug/YourBot.csprojResolveAssemblyReference.cache
QLearningHelper/bin/Debug/QLearningHelper.exe
QLearningHelper/bin/Debug/QLearningHelper.pdb
QLearningHelper/bin/Debug/QLearningHelper.vshost.exe
QLearningHelper/bin/Debug/QLearningHelper.vshost.exe.manifest
QLearningHelper/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QLearningHelper/obj/x86/Debug/QLearningHelper.csproj.FileListAbsolute.txt
QLearningHelper/obj/x86/Debug/QLearningHelper.csprojResolveAssemblyReference.cache
QLearningHelper/obj/x86/Debug/QLearningHelper.exe
QLearningHelper/obj/x86/Debug/QLearningHelper.pdb
QLearningHelper/obj/x86/Debug/ResolveAssemblyReference.cache
