your bot/bin/Debug/MyBot.vshost.exe
your bot/bin/Debug/MyBot.vshost.exe.manifest
your bot/bin/Debug/YourBot.vshost.exe.manifest
your bot/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
your bot/obj/x86/Debug/MyBot.csproj.FileListAbsolute.txt
your bot/obj/x86/Debug/YourBot.csproj.FileListAbsolute.txt
